extends layout

block content
    section
        article
            h3 Our Problem
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, animi consectetur. Esse deleniti sunt officia, consequatur nam ut impedit et eum voluptates odit repellendus vitae illum eius, modi voluptatibus qui.Quasi totam et ex mollitia. Eos sunt sit eaque nam? Saepe, optio modi iusto eius voluptatibus quas vero fuga quis dolorum, et nobis nesciunt, natus exercitationem necessitatibus? Reiciendis, aliquid odio.Dolor ab eum culpa officiis fugiat, temporibus harum iste eos, quaerat veritatis cum vero voluptas. Quam cupiditate, esse quisquam animi hic autem aperiam enim eum repellat accusantium est placeat dolor?Cum laborum perspiciatis, possimus vitae qui blanditiis aut animi ducimus veniam debitis? Quas modi facilis voluptate alias vel? Amet nam alias harum corporis numquam eaque, debitis ea sit! Laboriosam, fuga!Sed laboriosam aut corrupti libero impedit, labore, tempora illo voluptatem voluptate, sint at dicta obcaecati a? Non laboriosam, quis totam hic iusto illum provident ullam unde cupiditate necessitatibus quo corporis.
            img(src="", alt="image1")
        article
            h3 Our Solution
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam adipisci earum mollitia numquam tempora sint explicabo esse. Fugit exercitationem nesciunt placeat possimus, neque itaque. Vel consectetur incidunt aspernatur optio mollitia.Ea tenetur quibusdam nulla? Porro veritatis corrupti nesciunt, aspernatur veniam optio at officiis ipsam doloremque, tempore repellendus officia magni fugit ipsum molestias incidunt laborum? Sequi numquam est minima beatae laudantium?Aperiam laborum cumque incidunt odio quod qui? Maiores a dolorem blanditiis veniam quo vero voluptatibus unde sit laudantium beatae error voluptates quod, nobis harum quos illum. Officia quae reiciendis sed.Optio quia dolorum facere ipsam sed facilis, nihil officia laborum adipisci quibusdam aperiam beatae quas at! Deleniti molestiae minus eos eligendi non quisquam cum repudiandae nesciunt, suscipit molestias? Corrupti, ea!Dolorem quasi, tempora, nobis voluptatum aut, tempore culpa excepturi qui repellendus harum vero voluptatem quam voluptatibus numquam aspernatur autem provident placeat? Repellendus ab iste omnis recusandae molestias voluptates, modi perspiciatis!
            img(src="", alt="image2")
