doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        //- script(src="/scripts/resources.js")
        //- script(src="/scripts/accessibility.js" defer)
        //- script(src="/scripts/app.js" defer)
        if scripts
            each script in scripts
                script(src = script defer)
    body
        div(id="nav-container" class="frosted-panel")
            nav(id="navbar" class="")
                a(href="/" class={ active: title == "Home"}) Home 
                a(href="/tips" class={ active: title == "Tips" }) Tips 
                a(href="/impact" class={ active: title == "Impact"}) Impact
            div(id="lang-select")
                a(href="javascript:setLang(0)")
                    img(src="images/ukf.png", alt="")
                a(href="javascript:setLang(1)")
                    img(src="images/saf.png", alt="")
            a(href="/login" id="login" class="")
                <i class="fa fa-user" aria-hidden="true"></i>
        //- Hidden until lower screen size
        div(id="burger-nav-container")
            div(id="burger-nav" class="frosted-panel")
                h1 #{title}
                button(id="burger" class="burger-button")
                    i(class="fa fa-bars")

            nav(class="frosted-panel")
                a(href="/" class={ active: title == "Home"}) Home 
                a(href="/goals" class={ active: title == "Tips" }) Tips 
                a(href="/team" class={ active: title == "Impact"}) Impact
                a(href="/newsletter" class={ active: title == "Signup" }) Signup
        main
            block content
        footer 
            p Footer stuff