extends layout

block content
    div(id="register")
        form(id="login-form" class="frosted-panel")
            h2 Register
            input(type="email" required id="email" placeholder="Email")
            input(type="password" required id="password" placeholder="Password")
            input(type="password" required id="confirm-password" placeholder="Confirm Password")
            input(type="submit" value="Register")
            div(class="seperator")
                a(href="/login") Login